* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body,
#q-app {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#q-app {
  position: relative;
  width: 100%;
  height: 100%;
}
