@import "imports";

:root {
  --main-font: 'Roboto', sans-serif;

  --orange         : #E95A0A;
  --orange-light   : #E17313;

  --yellow         : #F9C972;

  --black          : #2C2C2C;
  --black-light    : #4D4D4D;

  --gray-dark      : #D0CDCC;

  --gray           : #F1EDEC;
}
