@import "imports";

:root {
  --main-font: 'Roboto', sans-serif;

  --white-dark: #2C2C2C4D;

  --danger: #e90a24;

  --orange: #E95A0A;
  --orange-light: #E17313;

  --yellow: #F9C972;

  --black: #2C2C2C;
  --black-light: #4D4D4D;

  --gray: #F1EDEC;
  --gray-dark: #D0CDCC;
  --gray-light: #2C2C2C80;
}
